<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alpaca Ai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body ng-app="app" ng-controller="mainController" class="mdc-typography">

    <header class="mdc-top-app-bar mdc-top-app-bar--fixed" data-mdc-auto-init="MDCTopAppBar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-center">
                <span class="mdc-top-app-bar__title">Alpaca AI</span>
            </section>
        </div>
    </header>
    <div style="width:100%;height:64px;"></div>
    <div class="main">
        <div class="part left">
            <div style="mdc-typography--body1">Wpisz nazwę serii, dla której chcesz znaleźć ... </div>

            <form ng-submit="getTitleRecommendation()">
                <div id="title-field" class="mdc-text-field search-text-field empty" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="text" ng-init="" ng-model="title" ng-change="animate()">
                    <div class="mdc-line-ripple"></div>
                    <label class="mdc-floating-label">Tytuł serii</label>
                </div>
            </form>


            <ul class="mdc-list mdc-list--two-line">
                <li class="mdc-list-item" ng-repeat="recommendation in titleRecommendation"
                    ng-click="openUrl('https://myanimelist.net/anime/' + recommendation.id);">
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__primary-text">{{recommendation.name}}</span>
                        <span class="mdc-list-item__secondary-text">Anime id is: {{recommendation.id}}</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="part right">
            <div style="mdc-typography--body1">... lub wpisz swoją nazwę użytkownika na MALu.</div>

            <form ng-submit="getUserRecommendation()">
                <div id="user-field" class="mdc-text-field mdc-text-field--disabled search-text-field empty" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="text" ng-init="" ng-model="user" ng-change="animate()" disabled>
                    <div class="mdc-line-ripple"></div>
                    <label class="mdc-floating-label">Nazwa użytkownika</label>
                </div>
            </form>

            <ul class="mdc-list mdc-list--two-line">
                <li class="mdc-list-item" ng-repeat="recommendation in userRecommendation"
                    ng-click="openUrl('https://myanimelist.net/anime/' + recommendation.id);">
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__primary-text">{{recommendation.name}}</span>
                        <span class="mdc-list-item__secondary-text">Anime id is: {{recommendation.id}}</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="mdc-snackbar" data-mdc-auto-init="MDCSnackbar">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label" role="status" aria-live="polite">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions">
                <button type="button" class="mdc-button mdc-snackbar__action">Retry</button>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-route.min.js"></script>
    <script src="assets/app.js"></script>
    <link rel="stylesheet" href="assets/styles.css">
    <script type="text/javascript">
        window.mdc.autoInit();
    </script>
</body>

</html>